.box {
    background: lightpink;
    margin: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
}

/* TRANSFORM is a property with function values that change elements in various ways */

#rotate {
    transform: rotate(-20deg);
}

/* scale(1) is original size less than 1 is smaller greater than 1 is bigger */



#scale {
    transform: scale(0.5);
}

#skew {
    transform: skew(-45deg);
}

/* translate(x) moves to the right (if x is positive) translate(x,y) moves diagonally translate(0,y) moves down (only along the y axis) */

#translate {
    transform: translate(50px, -10px);
}

/* you can chain multiple transforms on the same element */
#chain {
    transform: rotate(95deg) skew(-10deg);
}


